<div class="container single-view-job">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="title">Single view find a job</h1>
			<p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<div class="line"></div>
		</div>
	</div>
</div>
<div class="card-single">
	<div class="container single-view-job-content card">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<img src="../../img/expert.png">
			</div>
			<div class="col-xs-12 col-sm-8">
				<h3>Ime pozicije</h3>
				<p>ROK: <span>05.11.2017</span></p>
				<p>NIVO: <span>Senior</span></p>
				<p>MIN. TARE: <span>3</span></p>
			</div>
		</div>
		<div class="row single-view-job-desc">
			<div class="col-xs-12">
				<p class="description">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row card-single">
		<div class="col-xs-12 card">
			<h2>Requirements</h2>
			<div class="line"></div>
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<p>Godine iskustva</p>
					<p>Master diploma</p>
					<p>Timski duh</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<p>Godine iskustva</p>
					<p>Master diploma</p>
					<p>Timski duh</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<p>Godine iskustva</p>
					<p>Master diploma</p>
					<p>Timski duh</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 card">
			<h2>Technologies</h2>
			<div class="line"></div>
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<p>Java Script</p>
					<p>Angular JS</p>
					<p>Laravel</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<p>Java Script</p>
					<p>Angular JS</p>
					<p>Laravel</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<p>Java Script</p>
					<p>Angular JS</p>
					<p>Laravel</p>
				</div>
			</div>
		</div>
	</div>
</div>