<div class="container jobs">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">Test</h1>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="line"></div>
        </div>
    </div>
    <div class="row find-a-jobs card card-questions">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="">
                <h3 style="margin-top: 10px;">Number of tests: {{numTest}}</h3>
                <h4>Test: {{activeTest}}</h4>
                <h4>Min rate: {{minRate}}</h4>
                <h4>Questions: {{questionCount}}</h4>
                <button ng-if="!isStarted" class="btn btn-primary btn-experts" style="float: left; width: 140px;" ng-click="start()">Start</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4 style="font-size: 70px;">Time: {{time.minutes}} : {{time.seconds}}</h4>
        </div>
    </div>
    <div class="row find-a-jobs" ng-if="question.type == 'multiple'">
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 0;">
            <div class="card card-questions">
                <h4>Question {{questionNumber}}</h4>
                <h5>{{question.question}}</h5>
                <div ng-repeat="answer in question.options track by $index">
                    <input type="radio" name="choosedAnswer" ng-value="answer.option" ng-model="options.choosedAnswer" required/>
                    <label>{{ answer.option }}</label>
                </div>
                <button class="btn btn-primary btn-experts" ng-click="next(question.id, question.type, options.choosedAnswer)">Next</button>
            </div>
        </div>
    </div>
    <div class="row find-a-jobs" ng-if="question.type == 'code'">
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 0;">
            <div class="card card-questions">
                <h4>Question {{questionNumber}}</h4>
                <h5>{{question.task}}</h5>
                <textarea rows="10" class="form-control register-input" ng-model="answer" placeholder="Answer"></textarea>
                <button class="btn btn-primary" ng-click="next(question.id, question.type, answer); answer = ''">Next</button>
            </div>
        </div>
    </div>
    <div class="row find-a-jobs" ng-if="question.type == 'file'">
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 0;">
            <div class="card card-questions">
                <h4>Question {{questionNumber}}</h4>
                <h5>{{question.task}}</h5>
                <input type="file">
                <button class="btn btn-primary" ng-click="next(question.id, question.type, 'kako je koke')">Next</button>
            </div>
        </div>
    </div>
</div>