<div class="container jobs">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">Test</h1>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="line"></div>
        </div>
    </div>
    <div class="row find-a-jobs">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card card-questions">
                <h3>Number of tests: {{numTest}}</h3>
                <h4>Test: {{activeTest}}</h4>
                <h4>Time: 2 : 30</h4>
                <h4>Min rate: {{minRate}}</h4>
                <h4>Questions: {{questionCount}}</h4>
                <button class="btn btn-primary" ng-click="start()">Start</button>
            </div>
        </div>
    </div>
    <div class="row find-a-jobs">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card card-questions">
                <h5>Lorem Ipsum is simply dummy text of the prithe release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </h5>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                        Option one
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                        Option two
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                        Option three
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                        Option four
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row find-a-jobs">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card card-questions">
                <h5>Lorem Ipsum is simply dummy text of the prithe release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </h5>
                <textarea rows="10" class="form-control register-input" placeholder="Answer"></textarea>
            </div>
        </div>
    </div>
    <div class="row find-a-jobs">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card card-questions">
                <h5>Lorem Ipsum is simply dummy text of the prithe release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </h5>
                <button>upload file</button>
            </div>
        </div>
    </div>
</div>