.home-page {
  display: block;
  background: #fff url('../../img/home-bg.png') no-repeat center center fixed;
  background-size: cover;
  height: 600px;
}
.card-create-a-cv {
	background: rgba(183,222,237,1);
	background: -moz-linear-gradient(-45deg, rgba(183,222,237,1) 26%, rgba(183,222,237,1) 29%, rgba(34,168,227,1) 80%, rgba(34,168,227,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(26%, rgba(183,222,237,1)), color-stop(29%, rgba(183,222,237,1)), color-stop(80%, rgba(34,168,227,1)), color-stop(100%, rgba(34,168,227,1)));
	background: -webkit-linear-gradient(-45deg, rgba(183,222,237,1) 26%, rgba(183,222,237,1) 29%, rgba(34,168,227,1) 80%, rgba(34,168,227,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(183,222,237,1) 26%, rgba(183,222,237,1) 29%, rgba(34,168,227,1) 80%, rgba(34,168,227,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(183,222,237,1) 26%, rgba(183,222,237,1) 29%, rgba(34,168,227,1) 80%, rgba(34,168,227,1) 100%);
}
/*content*/
.content-home {
	text-align: center;
	margin-top: 200px;
}
.content-home h3 {
	font-size: 38px;
	color: #fff;
	margin: 0px;
	font-family: "Proxima Nova Thin";
}
.content-home span {
	font-family: "Proxima Nova Bold";
}
.content-home p {
	color: #ffffff;
	margin-top: 20px;
	font-family: "Proxima Nova Light";
}
/*button kontaktirajte nas*/
.kontaktirajte-nas {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}
.kontaktirajte-nas span {
	margin-left: 30px;
}
.kontaktirajte-nas button {
	outline: none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 800;
	font-size: 20px;
	width: 240px;
	color: #a5e4ff;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #a5e4ff;
	border-radius: 0px;
	font-family: "Proxima Nova Bold";
}
.kontaktirajte-nas button:hover {
	color: #fff;
	background-color: #22a8e3;
	border: none;
	border-bottom: 2px solid #22a8e3;
	border-radius: 0px;
}
.kontaktirajte-nas button:active {
	color: #fff;
	background-color: #22a8e3;
	border: none;
	border-bottom: 2px solid #22a8e3;
	border-radius: 0px;
}
.kontaktirajte-nas button:focus {
	outline: none;
	color: #fff;
	background-color: #22a8e3;
	border: none;
	border-bottom: 2px solid #22a8e3;
	border-radius: 0px;
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
	outline: none;
	color: #fff;
    background-color: transparent;
    border-color: #22a8e3;
}
/* find a job */
.page-home .card h2 {
	height: 300px;
	line-height: 300px;
	font-family: "Proxima Nova Bold";
	font-size: 18px;
	color: #fff;
}