<div class="container-fluid home-page">
	<div class="row content-home">
		<div class="col-xs-12">
			<h3>WE EMPOWER THE FUTURE</h3>
		</div>
		<div class="col-xs-12">
			<h3><span>BE A PART OF IT</span></h3>
		</div>
		<div class="col-xs-12">
			<p>Realize your full potential using our powerful tool.</p>
		</div>
	</div>
	<div class="row kontaktirajte-nas">
		<button type="button" class="btn btn-default" ui-sref="menu.login">LOGIN<span>></span></button>
	</div>
</div>
<div class="container-fluid page-home">
	<div class="container">
		<div class="row">
			<div class="col-xs-12" style="margin-top: 80px;">
				<h1 class="title">Find a job</h1>
				<p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<div class="line"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card card-create-a-cv">
					<h2>CREATE A CV <p class="glyphicon glyphicon-arrow-right"></p></h2>
				</div>
			</div><div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card card-create-a-cv">
					<h2>APPLY FOR JOB <p class="glyphicon glyphicon-arrow-right"></p></h2>
				</div>
			</div><div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card card-create-a-cv">
					<h2>COMPLETE THE TEST <p class="glyphicon glyphicon-arrow-right"></p></h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card card-create-a-cv">
					<h2>START WORKING <p class="glyphicon glyphicon-arrow-right"></p></h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container find-an-expert">
		<div class="row">
			<div class="col-xs-12" style="margin-top: 80px;">
				<h1 class="title">Find an expert</h1>
				<p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<div class="line"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card card-create-a-cv">
					<h2>CLIENT YOUR PORTFOLIO <p class="glyphicon glyphicon-arrow-right"></p></h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card card-create-a-cv">
					<h2>CREATE AN OPENING <p class="glyphicon glyphicon-arrow-right"></p></h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card card-create-a-cv">
					<h2>TEST YOUR APPLICANTS <p class="glyphicon glyphicon-arrow-right"></p></h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card card-create-a-cv">
					<h2>HIRE <p class="glyphicon glyphicon-arrow-right"></p></h2>
				</div>
			</div>
		</div>
	</div>
</div>