<div class="container-fluid home-page">
	<div class="row content-home">
		<div class="col-xs-12">
			<h3>IMATE DOBRU IDEJU</h3>
		</div>
		<div class="col-xs-12">
			<h3><span>ALI NEMATE USLOVA DA JE REZLIZUJETE</span></h3>
		</div>
		<div class="col-xs-12">
			<p>Javite nam se putem poruke a mi ćemo raditi ono u čemu smo najbolji.</p>
		</div>
	</div>
	<div class="row kontaktirajte-nas">
		<button type="button" class="btn btn-default">LOGIN<span>></span></button>
	</div>
</div>
<div class="container-fluid page-home">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="title">Find a job</h1>
				<p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<div class="line"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card">
					<h2>CREATE A CV</h2>
				</div>
			</div><div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card">
					<h2>APPLY FOR JOB</h2>
				</div>
			</div><div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card">
					<h2>COMPLETE THE TEST</h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card">
					<h2>START WORKING</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container find-an-expert">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="title">Find an expert</h1>
				<p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<div class="line"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card">
					<h2>CLIENT YOUR PORTFOLIO</h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card">
					<h2>CREATE AN OPENING</h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card">
					<h2>TEST YOUR APPLICANTS</h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="card">
					<h2>HIRE</h2>
				</div>
			</div>
		</div>
	</div>
</div>