<div class="container-fluid home-page">
	<div class="row content-home">
		<div class="col-xs-12">
			<h3>IMATE DOBRU IDEJU</h3>
		</div>
		<div class="col-xs-12">
			<h3><span>ALI NEMATE USLOVA DA JE REZLIZUJETE</span></h3>
		</div>
		<div class="col-xs-12">
			<p>Javite nam se putem poruke a mi ćemo raditi ono u čemu smo najbolji.</p>
		</div>
	</div>
	<div class="row kontaktirajte-nas">
		<button type="button" class="btn btn-default">KONTAKTIRAJ NAS<span>></span></button>
	</div>
</div>
<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="title">Find a job</h1>
				<p class="description">A asjdkajs dkajhd kasd jshakjdh aksjhkahdahkjd ashak</p>
				<div class="line"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="card">
					left
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="card">
					Center
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="card">
					Right
				</div>
			</div>
		</div>
	</div>
	<div class="container find-an-expert">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="title">Find an expert</h1>
				<p class="description">A asjdkajs dkajhd kasd jshakjdh aksjhkahdahkjd ashak</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="card">
					Left
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="card">
					Center
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="card">Right</div>
			</div>
		</div>
	</div>
</div>