<div class="container register-page">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="title">Register</h1>
			<p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			<div class="line"></div>
		</div>
	</div>
</div>
<div class="container card-register">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<a ui-sref="menu.firmRegister">
				<div class="card">
					<div class="company">
						<h2>COMPANY</h2>	
					</div>
				</div>
			</a>
		</div>
		<a ui-sref="menu.expertRegister">
			<div class="col-xs-12 col-md-6">
				<div class="card">
					<div class="expert">
						<h2>EXPERT</h2>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>