@font-face {
    font-family: "Proxima Nova Bold";
    src: url(font/ProximaNovaBold.otf) format("truetype");
}
@font-face {
    font-family: "Proxima Nova Light";
    src: url(font/ProximaNovaLight.otf) format("truetype");
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url(font/ProximaNovaLight.otf) format("truetype");
}
@font-face {
    font-family: "Proxima Nova Semibold";
    src: url(font/ProximaNovaLight.otf) format("truetype");
}
@font-face {
    font-family: "Proxima Nova Thin";
    src: url(font/ProximaNovaLight.otf) format("truetype");
}
body {
    background-color: #f6f6f5;
}
.title {
    font-family: "Proxima Nova Bold";
    font-size: 28px;
    color: #504e4e;
}
.subtitle {
    font-family: "Proxima Nova Bold";
    font-size: 16px;
    color: #504e4e;
}
.description {
    font-family: "Proxima Nova Light";  
    color: #777474;
}
.card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 6px 10.392px 45px 0px rgba(0, 0, 0, 0.15);
    height: 300px;
    margin-top: 10px;
    text-align: center;
}
.line {
    border-bottom: 4px solid #019ae0;
    width: 50px;
    margin-bottom: 15px;
    margin-top: 5px;
}
input:focus {
    outline: none;
}
textarea {
    resize: none;
    width: 100%;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid #cccccc;
}
.footer {
    bottom: 0;
    background-color: #5f5f5f;
    height:100px;
    margin-top:100px;
}
.footer .container center {
    margin-top:40px;
    color: #fff;
}
.navbar-parts li {
    width: 100px;
}
.navbar-default {
    border: none;
}
/*.btn-default:focus:hover {
    margin-top:0px !important;
}*/
/*.btn-default:active:focus {
    margin-top:0px !important;
}*/
.badge {
    background-color: #bbbbbb;
}