<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="job in jobs">
            <div class="card">
                <div class="row">
                    <div class="avatar-find-job col-xs-12 col-md-4">
                        <img src="../../img/expert.png">
                    </div>
                    <div class="col-xs-12 col-md-6 card-text-findjob">
                        <h3>{{job.company.name}}</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It </span>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <p>{{job.deadline}}</p>
                        <button ng-click="singleViewJob(job.id)">See more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>