<div class="container opening-card">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="title">Create opening</h2>
			<p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			<div class="line"></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="card-concurs">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div>
							<input placeholder="Title" type="text">	
						</div>
						<div>
							<textarea placeholder="Description" cols="30" rows="10"></textarea>
						</div>
						<h2 class="title">Reguirments</h2>
						<input type="text">
						<button class="btn btn-default">Add new reguirments</button>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Level
							<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#">Student</a></li>
								<li><a href="#">Entry</a></li>
								<li><a href="#">Mid-level</a></li>
								<li><a href="#">Senior</a></li>
							</ul>
						</div>
						<h3 style="float: left;" class="semibold">Minimal rate: </h3>
						<div class="dropdown">
							<button style="margin-top: 15px; margin-left: 10px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							rate
							<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li><a href="#">9</a></li>
								<li><a href="#">10</a></li>
							</ul>
						</div>
							<h2 class="title">Tehnologies</h2>
							<input type="text">
							<button class="btn btn-default">Add new tehnologies</button>
						</div>
					<div class="col-xs-12 col-sm-6">
						<div>
							<button data-toggle="collapse" data-target="#demo">Test 1</button>
							<div id="demo" class="collapse">
								Pitanje 1
								<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#dodajPitanje">Dodaj pitanje</button>
							</div>
						</div>
						<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#dodajTest">Dodaj test</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal test -->
<div id="dodajTest" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Modal test.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal pitanje -->
<div id="dodajPitanje" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Modal pitanje</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>