@media (max-width: 425px) {
    .navbar .pull-right {
        float: none !important;
    }
}
.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
}
.logout-menu-item {
    cursor: pointer;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #555;
}
/*navbar*/
.navbar-default {
    margin-bottom: -1px;
    margin-top: -1px;
    border-color: transparent;
    box-shadow: 0px 4.392px 20px 5px rgba(0, 0, 0, 0.15);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #22a8e3;
    font-family: "Proxima Nova Bold";
    font-size: 16px;
}
.navbar-nav>li {
    width: 140px;
    text-align: center;
}