<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="menu.home">Sicef</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="menu.home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="menu.login">Login</a></li>
                <li ui-sref-active="active"><a ui-sref="menu.register">Register</a></li>
                <li ui-sref-active="active"><a ui-sref="menu.find-a-job">Find a job</a></li>
                <li ui-sref-active="active"><a ui-sref="menu.single-view-job">Single view job</a></li>
                <li ui-sref-active="active"><a ui-sref="menu.test-questions">TestQuestions</a></li>
                <li ui-sref-active="active"><a ui-sref="menu.profile-expert">Profile Expert</a></li>
                <li ui-sref-active="active"><a ui-sref="menu.test-code">Test Code</a></li>
                <li ui-sref-active="active"><a ui-sref="menu.find-expert">Find Expert</a></li>
                <li ui-sref-active="active"><a ui-sref="menu.single-view-expert">Single View Expert</a></li>
                <li ui-sref-active="active"><a ui-sref="menu.profil-firm">Profil firm</a></li>
                <li ui-sref-active="active"><a ui-sref="menu.view-profile-firm">View Profil firm</a></li>
            </ul>
        </div>
    </div>
</nav>
<ui-view name="menuContent"></ui-view>
