.find-expert {
	margin-top: 80px;
}
.avatar-find-expert img {
    width: 100%;
}
.card-text-findjob {
	padding-left: 10px;
	padding-right: 10px;
}
.btn-find-a-expert button {
	background-color: #22a8e3;
	color: #fff;
}
.btn-find-a-expert button:hover {
	background-color: #22a8e3;
	color: #fff;
}
.btn-find-a-expert button:focus {
	background-color: #22a8e3;
	color: #fff;
}
.btn-find-a-expert {
	text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}
.expert-find .card {
	height: auto;
}