<div class="container single-view-job">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="title">Single view find an expert</h1>
			<p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<div class="line"></div>
		</div>
	</div>
</div>
<div class="card-single">
	<div class="container single-view-job-content card">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<img src="../../img/expert.png">
			</div>
			<div class="col-xs-12 col-sm-8">
				<h3>{{expert.name}}</h3>
				<p>Email: {{expert.email}}<span></span></p>
				<p>Pozicija: {{expert.description.position}} <span></span></p>
				<p>Adresa: {{expert.description.address}} <span></span></p>
				<p>Br. mob: {{expert.description.phonenumber}}<span></span></p>
			</div>
		</div>
		<div class="row single-view-job-desc">
			<div class="col-xs-12">
				<p class="description">
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row card-single">
		<div class="col-xs-12 card">
			<h2>Technologies</h2>
			<div class="line"></div>
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<p ng-repeat="technology in expert.description.technologies" class="badge" style="margin-right:5px;">{{technology}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row card-single">
		<div class="col-xs-12 card">
			<h2>List projects</h2>
			<div class="line"></div>
			<div class="row">
				<div class="col-xs-12 single-expert" ng-repeat="project in expert.projects track by $index">
					<div class="single-header">
						<p>{{$index + 1}}. project</p>	
					</div>
					<p>ime projekta: <span>{{project.name}}</span></p>
					<p>opis projekta: <span>{{project.description}}</span></p>
					<p>ime klijenta: <span>{{project.client}}</span></p>
					<p ng-repeat="technology in project.technologies">tehnologije: <span>{{technology}}</span></p>
					<p>pozicija: <span>{{project.position}}</span></p>
					<p> <span>{{project.started}} - {{project.ended}}</span></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container btn-apply">
	<button ng-if="isLoggedIn" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Hire</button>
	<button ng-if="!isLoggedIn" class="btn btn-primary" ui-sref="menu.login">Hire</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Hire expert</h4>
			</div>
			<div class="modal-body">
				<textarea rows="6" placeholder="Your message..." ng-model="message"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="sendMail(expert.id, message)" data-dismiss="modal">Send</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>