<div class="container single-view-job">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="title">Single view find an expert</h1>
			<p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<div class="line"></div>
		</div>
	</div>
</div>
<div class="card-single">
	<div class="container single-view-job-content card">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<img src="../../img/expert.png">
			</div>
			<div class="col-xs-12 col-sm-8">
				<h3></h3>
				<p>Email: <span></span></p>
				<p>Pozicija: <span></span></p>
				<p>Adresa: <span></span></p>
				<p>Br. mob: <span></span></p>
			</div>
		</div>
		<div class="row single-view-job-desc">
			<div class="col-xs-12">
				<p class="description">
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row card-single">
		<div class="col-xs-12 card">
			<h2>Technologies</h2>
			<div class="line"></div>
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<p></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row card-single">
		<div class="col-xs-12 card">
			<h2>List projects</h2>
			<div class="line"></div>
			<div class="row">
				<div class="col-xs-12">
					<p>ime projekta:</p>
					<p>opis projekta:</p>
					<p>ime klijenta:</p>
					<p>tehnologije:</p>
					<p>pozicija:</p>
					<p>od - do :</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container btn-apply">
	<button class="btn btn-primary">Apply</button>
</div>